<!-- Featured Article -->
<div class="featured-article mb-4">
    <img src="{{path_to_image}}" alt="Featured News" class="img-fluid mb-3">
    <h1 class="article-title">
        <a href="#" class="text-dark text-decoration-none">
            {{featuredArticleTitle}}
        </a>
    </h1>
    <p class="lead">{{featuredArticleLead}}</p>
    <div class="comment-count">
        <i class="bi bi-chat-dots"></i> {{featuredArticleComments}}
    </div>
</div>

<!-- News Grid -->
<div class="row">
    {{#each newsGrid}}
    <div class="col-md-6">
        <div class="card mb-4">
            <img src="{{this.image}}" class="card-img-top" alt="News Image">
            <div class="card-body">
                <h3 class="card-title">
                    <a href="{{this.link}}" class="text-dark text-decoration-none">
                        {{this.title}}
                    </a>
                </h3>
                <p class="card-text">{{this.shortDescription}}</p>
                <div class="comment-count">
                    <i class="bi bi-chat-dots"></i> {{this.comments}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- Latest News List -->
<div class="latest-news mt-4">
    <h4 class="border-bottom pb-2">Tin mới nhất</h4>
    <div class="list-group list-group-flush">
        {{#each latestNews}}
        <a href="{{this.link}}" class="list-group-item list-group-item-action">
            {{this.title}}
        </a>
        {{/each}}
    </div>
</div>