<<<<<<< HEAD
<!-- Featured Article -->
<div class="featured-article mb-4">
    {{#if featuredArticles.[0]}}
    <img src="/public/images/{{featuredArticles.[0].featured_image}}" alt="{{featuredArticles.[0].title}}"
        class="img-fluid mb-3">
    <h1 class="article-title">
        <a href="/article/{{featuredArticles.[0].id}}" class="text-dark text-decoration-none">
            {{featuredArticles.[0].title}}
        </a>
    </h1>
    <p class="lead">{{featuredArticles.[0].abstract}}</p>
    <div class="article-meta">
        <span>{{featuredArticles.[0].category_name}}</span> •
        <span>{{featuredArticles.[0].author_name}}</span> •
        <small>{{featuredArticles.[0].publish_date}}</small>
    </div>
    <div class="comment-count">
        <i class="bi bi-chat-dots"></i> {{featuredArticles.[0].comments}}
    </div>
    {{else}}
    <p>Không có bài báo nổi bật</p>
    {{/if}}
</div>


<!-- News Grid -->
<div class="row">
    {{#each featuredArticles}}
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="/public/images/{{this.featured_image}}" class="card-img-top" alt="{{this.title}}">
            <div class="card-body">
                <h3 class="card-title" style="font-size: 1.2rem;">
                    <a href="/article/{{this.id}}" class="text-dark text-decoration-none">
                        {{this.title}}
                    </a>
                </h3>
                <p class="card-text" style="font-size: 0.9rem;">{{this.abstract}}</p>
                <div class="article-meta" style="font-size: 0.8rem;">
                    <span>{{this.category_name}}</span> •
                    <small>{{this.publish_date}}</small>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- Pagination -->
{{#if pagination}}
<nav aria-label="Featured articles pagination" class="mt-4">
    <ul class="pagination justify-content-center">
        {{#if pagination.hasPrevPage}}
        <li class="page-item">
            <a class="page-link" href="/?page={{pagination.prevPage}}">Trang trước</a>
        </li>
        {{/if}}
        
        {{#each pagination.pages}}
        <li class="page-item {{#if this.isCurrentPage}}active{{/if}}">
            <a class="page-link" href="/?page={{this.pageNumber}}">{{this.pageNumber}}</a>
        </li>
        {{/each}}

        {{#if pagination.hasNextPage}}
        <li class="page-item">
            <a class="page-link" href="/?page={{pagination.nextPage}}">Trang sau</a>
        </li>
        {{/if}}
    </ul>
</nav>
{{/if}}
=======
<!-- Featured Article -->
<div class="featured-article mb-4">
    <img src="{{path_to_image}}" alt="Featured News" class="img-fluid mb-3">
    <h1 class="article-title">
        <a href="#" class="text-dark text-decoration-none">
            {{featuredArticleTitle}}
        </a>
    </h1>
    <p class="lead">{{featuredArticleLead}}</p>
    <div class="comment-count">
        <i class="bi bi-chat-dots"></i> {{featuredArticleComments}}
    </div>
</div>

<!-- News Grid -->
<div class="row">
    {{#each newsGrid}}
    <div class="col-md-6">
        <div class="card mb-4">
            <img src="{{this.image}}" class="card-img-top" alt="News Image">
            <div class="card-body">
                <h3 class="card-title">
                    <a href="{{this.link}}" class="text-dark text-decoration-none">
                        {{this.title}}
                    </a>
                </h3>
                <p class="card-text">{{this.shortDescription}}</p>
                <div class="comment-count">
                    <i class="bi bi-chat-dots"></i> {{this.comments}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- Latest News List -->
<div class="latest-news mt-4">
    <h4 class="border-bottom pb-2">Tin mới nhất</h4>
    <div class="list-group list-group-flush">
        {{#each latestNews}}
        <a href="{{this.link}}" class="list-group-item list-group-item-action">
            {{this.title}}
        </a>
        {{/each}}
    </div>
</div>
>>>>>>> hao_main
